body
{
    margin: auto;
    padding: 0px;
    width: 100%;
    height: 200%;
    position: absolute;
    overflow: hidden;
}
section
{
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(#333,#000);
}

.set
{
    position: absolute;
   
    
    width: 100%;
    height: 80%;
    top: 0;
    left: 0;   

    filter: blur(1px);
}
.set div
{
    position: absolute;
    display: block;

}
.set div:nth-child(1)
{
   
    display: block;
    position: absolute;
    left: 20%;
   
    
   
    
    animation: changeColor 15s linear infinite; /* IE 10+ */
    animation-delay: -7s;
}
.set div:nth-child(2)
{
   
    display: block;
    position: absolute;
    left: 0%;
   
    animation: changeColor 20s linear infinite; /* IE 10+ */
    animation-delay: -5s;

}
.set div:nth-child(3)
{
   
    display: block;
    position: absolute;
    left: 50%;
    
    animation: changeColor 25s linear infinite; /* IE 10+ */

}
.set div:nth-child(4)
{
   
    display: block;
    position: absolute;
    left: 80%;
   
    animation: changeColor 15s linear infinite; /* IE 10+ */
   
}
.set div:nth-child(5)
{
   
    display: block;
    position: absolute;
    left: 90%;
   
    animation: changeColor 18s linear infinite; /* IE 10+ */
    animation-delay: -6s;
}
.set div:nth-child(6)
{
   
    display: block;
    position: absolute;
    left: 10%;
 
    animation: changeColor 12s linear infinite; /* IE 10+ */

}
.set div:nth-child(7)
{
   
    display: block;
    position: absolute;
    left: 30%;
  
    animation: changeColor 22s linear infinite; /* IE 10+ */
    animation-delay: -8s;
}
.set div:nth-child(8)
{
   
    display: block;
    position: absolute;
    left: 70%;
  
    animation: changeColor 18s linear infinite; /* IE 10+ */
 animation-delay: -10s;
}
@keyframes changeColor {
  0% {
      opacity: 0;
    top: -10%;
    transform: translateX(20px) rotate(0deg);
  }
  10% {
    opacity: 30%;
    }
  20% {
    transform: translateX(-20px) rotate(45deg);
  }
  40% {
    transform: translateX(-20px) rotate(90deg);
  }
  60% {
    transform: translateX(20px) rotate(135deg);
  }
  80% {
    transform: translateX(-20px) rotate(180deg);
  }
  100% {
     top: 110%;
     transform: translateX(-20px) rotate(225deg);
  }
}
